@charset "UTF-8";
.footer:after, .goods-list:after, .relation-goods:after, .footer:before, .goods-list:before, .relation-goods:before {
  content: '';
  display: table;
  clear: both; }

.back-blue, .login-panel .logo-panel, .bottom-btn, .fixed-bottom-btn, .header-panel, .fix-bottom .c-order-btn {
  background-color: #31a9ff;
  background: -webkit-linear-gradient(left, #31a9ff, #2bd0ff);
  background: -o-linear-gradient(right, #31a9ff, #2bd0ff);
  background: -moz-linear-gradient(right, #31a9ff, #2bd0ff);
  background: linear-gradient(to right, #31a9ff, #2bd0ff); }

html {
  width: 100%;
  height: 100%; }

@media screen and (min-width: 320px) and (max-width: 374px) {
  html {
    font-size: 8.5px; } }
@media screen and (min-width: 375px) and (max-width: 413px) {
  html {
    font-size: 10px; } }
@media screen and (min-width: 414px) and (max-width: 639px) {
  html {
    font-size: 11px; } }
@media screen and (min-width: 640px) and (max-width: 719px) {
  html {
    font-size: 17px; } }
@media screen and (min-width: 720px) and (max-width: 749px) {
  html {
    font-size: 1.92px; } }
@media screen and (min-width: 750px) and (max-width: 799px) {
  html {
    font-size: 20px; } }
@media screen and (min-width: 800px) {
  html {
    font-size: 21.3px; } }
@media all and (orientation: landscape) {
  html {
    font-size: 16px; } }
*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100% !important;
  -ms-touch-action: none; }

body {
  width: 100%;
  height: 100%;
  font-family: Microsoft YaHei, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  font-size: 1.4rem;
  background-color: #f3f5f9;
  color: #414d58;
  line-height: 1.8;
  overflow: scroll;
  overflow-x: hidden; }

.clear-fix {
  clear: both; }

.clr::after {
  content: '';
  display: block;
  clear: both; }

.none {
  display: none; }

button, input, textarea, select, fieldset {
  font-size: 1rem;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0; }
  button:focus, input:focus, textarea:focus, select:focus, fieldset:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

input, textarea {
  -webkit-user-select: auto !important; }

button, a {
  cursor: pointer; }

ul, ol, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, a {
  text-decoration: none;
  list-style: none;
  font-weight: normal;
  margin: 0;
  padding: 0; }

input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] {
  margin: 0;
  padding: 0;
  height: auto; }

button, input[type=button], input[type=reset], input[type=submit] {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  border: none;
  border-radius: 0; }

a {
  color: inherit;
  outline: none; }

.font-blue {
  color: #31a9ff; }

.font-gray {
  color: #a4aec3; }

.font-red {
  color: #ef425a; }

.floatr {
  float: right; }

.text-right {
  text-align: right; }

.login-panel {
  position: relative;
  height: 66.7rem;
  width: 100%; }
  .login-panel .logo-panel {
    height: 27.5rem; }
    .login-panel .logo-panel img {
      position: relative;
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 10rem;
      top: 10rem; }
  .login-panel .input-con {
    margin-top: 2.6rem;
    padding-bottom: 1.5rem; }
    .login-panel .input-con:first-child {
      margin-top: 0;
      padding-bottom: 1.7rem; }
  .login-panel .send-code {
    position: absolute;
    display: block;
    width: 7em;
    text-align: center;
    right: 0;
    border-left: 1px solid #ececec;
    z-index: 2;
    line-height: 1.5rem;
    top: 50%;
    margin-top: -0.8rem; }
    .login-panel .send-code.lock {
      color: #a4aec3; }
    .login-panel .send-code.active {
      color: #31a9ff; }
  .login-panel .lxb-full-btn {
    margin: 4rem 6rem 0; }
  .login-panel .bottom-nav {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 1rem; }
    .login-panel .bottom-nav a {
      display: inline-block;
      border-right: 1px solid #ececec;
      color: #a4aec3;
      padding: 0 2rem;
      line-height: 1; }
      .login-panel .bottom-nav a:last-child {
        border-right: none; }

.login-container {
  background-color: #fff;
  padding: 4rem 2.75rem 4.5rem;
  border-radius: .5rem;
  margin: -6rem 2rem 0;
  box-shadow: 0px 0px 14px -6px black; }

.input-con {
  display: block;
  border-bottom: 1px solid #ececec;
  position: relative;
  padding: 1rem 0 1rem 3.4rem;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 0.65rem center; }
  .input-con input {
    font-size: 1.4rem;
    display: block; }
  .input-con.login-tel {
    background-image: url(../images/icon-tel.png);
    background-position: 0.6rem 0.9rem; }
  .input-con.login-code {
    background-image: url(../images/icon-code.png);
    background-position: 0.5rem 1rem;
    padding-bottom: 1.8rem; }
  .input-con.login-pwd {
    background-image: url(../images/icon-pwd.png);
    padding-bottom: 1.8rem;
    background-position: 0.5rem 1rem; }

.lxb-btn {
  display: inline-block;
  padding: 0.3rem 2em;
  color: #a4aec3;
  background-color: #a4aec3;
  text-align: center;
  line-height: 2.4;
  border-radius: 1.5em; }
  .lxb-btn.back-blue {
    color: #fff; }
  .lxb-btn.lock {
    opacity: .7; }
  .lxb-btn.no-radius {
    border-radius: 0; }

.lxb-full-btn {
  display: block;
  font-size: 1.8rem; }

.bottom-btn, .fixed-bottom-btn {
  display: block;
  line-height: 4.9rem;
  font-size: 1.8rem;
  text-align: center;
  color: #fff; }
  .bottom-btn.lock, .lock.fixed-bottom-btn {
    background: #a4aec3; }

.fixed-bottom-btn {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 9; }

.tips-agreement {
  margin-top: .8rem;
  color: #a4aec3;
  text-align: center; }
  .tips-agreement a {
    color: #31a9ff; }

.lxb-checkbox {
  display: inline-block;
  position: relative;
  width: 1.3rem;
  height: 1.3rem;
  vertical-align: middle;
  top: -.2rem;
  margin-right: 0.8rem; }
  .lxb-checkbox:before {
    content: '';
    position: relative;
    display: block;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: contain; }
  .lxb-checkbox input[type=checkbox], .lxb-checkbox input[type=radio] {
    display: none; }
  .lxb-checkbox input[type=checkbox] + i, .lxb-checkbox input[type=radio] + i {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 1px solid #ececec; }
  .lxb-checkbox input[type=checkbox]:checked + i, .lxb-checkbox input[type=radio]:checked + i {
    background: #31a9ff url(../images/icon-ok.png) no-repeat center;
    background-size: contain;
    border: none; }

.my-lxb-checkbox {
  display: inline-block;
  position: relative;
  width: 1.3rem;
  height: 1.3rem;
  vertical-align: middle;
  top: -.2rem;
  margin-right: 0.8rem; }
  .my-lxb-checkbox:before {
    content: '';
    position: relative;
    display: block;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: contain; }
  .my-lxb-checkbox input[type=checkbox], .my-lxb-checkbox input[type=radio] {
    display: none; }
  .my-lxb-checkbox input[type=checkbox] + i, .my-lxb-checkbox input[type=radio] + i {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 1px solid #ececec; }
  .my-lxb-checkbox input[type=checkbox]:checked + i, .my-lxb-checkbox input[type=radio]:checked + i {
    background: #31a9ff url(../images/icon-ok.png) no-repeat center;
    background-size: contain;
    border: none; }

.agreement-panel {
  height: 100%;
  background-color: #fff;
  overflow: auto;
  padding: .8rem 1rem; }
  .agreement-panel h1 {
    font-size: 2.1rem;
    margin-bottom: .6rem;
    font-weight: 600; }

.header-panel {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  font-size: 1.8rem;
  text-align: center;
  color: #fff;
  padding: 0 1.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  z-index: 9; }
  .header-panel .go-back {
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    background: url(../images/icon-back.png) no-repeat left center;
    background-size: contain;
    left: 1.5rem;
    top: 50%;
    margin-top: -.8rem; }
  .header-panel .message {
    position: absolute;
    width: 2rem;
    height: 2.1rem;
    background: url(../images/icon-message.png) no-repeat left center;
    background-size: contain;
    right: 1.5rem;
    top: 50%;
    margin-top: -1.05rem; }
  .header-panel .scan {
    position: absolute;
    width: 2.2rem;
    height: 2.05rem;
    background: url(../images/icon-scan.png) no-repeat right center;
    background-size: contain;
    left: 1.5rem;
    top: 50%;
    margin-top: -1.025rem; }

.padding-header {
  display: block;
  padding-top: 3.5rem; }

.padding-footer {
  padding-bottom: 4.9rem; }

#slide-box {
  position: relative; }
  #slide-box .slide-panel > li > a {
    display: block;
    width: 100%;
    height: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  #slide-box .slide-point {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 1.5rem;
    text-align: center; }
    #slide-box .slide-point li {
      display: inline-block;
      height: .75rem;
      width: .75rem;
      border-radius: 50%;
      background-color: #d8dcde;
      margin: 0 .45rem; }
      #slide-box .slide-point li.on {
        background-color: #8b959b; }
  #slide-box.container-banner {
    background-color: #fff; }
  #slide-box.container-banner .slide-panel > li > a {
    height: 39rem;
    background-size: contain; }
  #slide-box .slide-panel > li > img {
    display: block;
    width: 100%;
    height: 100%; }

.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 4.9rem;
  background-color: #fff;
  padding-top: .9rem;
  z-index: 9; }
  .footer > a {
    position: relative;
    display: block;
    float: left;
    width: 33.33%;
    text-align: center;
    font-size: 1rem;
    color: #95a5b4;
    padding-top: 1.9rem; }
    .footer > a.nav-home:before, .footer > a.nav-member:before {
      content: '';
      display: block;
      position: absolute;
      width: 1.9rem;
      height: 1.9rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      top: 0;
      left: 50%;
      margin-left: -.95rem; }
    .footer > a.nav-home:before {
      background-image: url(../images/menu-home.png); }
    .footer > a.nav-member:before {
      background-image: url(../images/menu-member.png); }
    .footer > a.current {
      color: #31a9ff; }
      .footer > a.current.nav-home:before {
        background-image: url(../images/menu-home-cur.png); }
      .footer > a.current.nav-member:before {
        background-image: url(../images/menu-member-cur.png); }
    .footer > a.nav-diy .i-1, .footer > a.nav-diy .i-2, .footer > a.nav-diy .i-3, .footer > a.nav-diy .i-4, .footer > a.nav-diy .i-5 {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%; }
    .footer > a.nav-diy .i-1 {
      position: absolute;
      width: 5.4rem;
      height: 5.4rem;
      background-color: #fff;
      padding: .45rem;
      left: 50%;
      margin-left: -2.7rem;
      top: -3.7rem;
      box-shadow: 0 0 0.55rem -0.2rem rgba(0, 0, 0, 0.47); }
      .footer > a.nav-diy .i-1:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1.5rem;
        background-color: #fff;
        bottom: -.35rem;
        left: 0; }
    .footer > a.nav-diy .i-2 {
      position: relative;
      z-index: 2;
      background-color: #31a9ff;
      padding: 1.15rem; }
    .footer > a.nav-diy .i-3 {
      background-color: #123a4c;
      padding: .3rem; }
    .footer > a.nav-diy .i-4 {
      background-color: #31a9ff;
      padding: .6rem; }
    .footer > a.nav-diy .i-5 {
      background-color: #123a4c; }

.page-panel {
  height: 100%;
  overflow: auto; }

.module-title {
  margin-left: 1rem;
  font-size: 1.5rem;
  line-height: 1;
  border-left: 0.4rem solid #31a9ff;
  padding-left: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.goods-list {
  padding-left: 1rem; }
  .goods-list a {
    position: relative;
    display: block;
    width: 50%;
    float: left;
    padding-right: 1rem;
    margin-bottom: 1rem; }
    .goods-list a .goods-tail {
      background-color: #fff;
      padding: 1rem; }
      .goods-list a .goods-tail .img {
        display: block;
        width: 100%; }
      .goods-list a .goods-tail .title {
        font-size: 1.4rem; }
      .goods-list a .goods-tail .tips {
        font-size: 1.1rem;
        color: #a4aec3; }
      .goods-list a .goods-tail .price-con {
        font-size: 1.4rem;
        color: #ef425a; }
        .goods-list a .goods-tail .price-con s {
          margin-left: 1rem;
          color: #a4aec3; }
    .goods-list a:nth-of-type(1):before, .goods-list a:nth-of-type(2):before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      font-size: 1rem;
      line-height: 1.8rem;
      color: #fff;
      border-bottom-right-radius: .9rem;
      background-color: #ef425a;
      padding: 0 1rem; }
    .goods-list a:nth-of-type(1):before {
      content: '官方优选'; }
    .goods-list a:nth-of-type(2):before {
      content: '独家限量'; }

.member-box {
  overflow: scroll;
  overflow-x: hidden; }
  .member-box i {
    font-style: normal; }
  .member-box .userinfo {
    text-align: center;
    color: #fff;
    height: 21rem;
    background: #fff;
    position: relative; }
    .member-box .userinfo i {
      background-image: url(../images/icon-message.png);
      background-size: cover;
      width: 2rem;
      height: 2rem;
      display: block;
      position: absolute;
      top: 1.5rem;
      right: 1.5rem; }
  .member-box .userbg {
    background-image: url(../images/userbg.png);
    background-size: cover;
    border-bottom-left-radius: 170%;
    border-bottom-right-radius: 170%;
    width: 160%;
    height: 21rem;
    margin-left: -30%; }
  .member-box .avatar img {
    width: 8rem;
    height: 8rem;
    margin-top: 4rem;
    border: 3px solid #fff;
    border-radius: 50%;
    overflow: hidden; }
  .member-box .avatar p {
    font-size: 1.8rem;
    height: 2.5rem; }
  .member-box .avatar span {
    font-size: 1rem; }
  .member-box .col {
    height: 5rem;
    line-height: 5rem;
    padding: 0 1.5rem;
    background: #fff;
    border-bottom: 1px solid #f8f8f8; }
    .member-box .col a {
      font-size: 1.4rem;
      display: inline-block;
      width: 100%; }
    .member-box .col i {
      float: right;
      display: inline-block;
      min-width: .8rem;
      height: 5rem;
      color: #cccbcb;
      font-size: 1.2rem; }
    .member-box .col input {
      width: 100%;
      height: 4rem;
      font-size: 1.5rem; }
    .member-box .col input[type='password'] {
      width: 100%;
      height: 4rem;
      font-size: 1.5rem; }
  .member-box .ico-right {
    background-image: url(../images/icon-right.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: .8rem; }
  .member-box .order a {
    font-size: 1.5rem; }
  .member-box .order-rows {
    height: 8rem;
    margin: 1rem 0;
    background: #fff; }
    .member-box .order-rows ul li {
      width: 24%;
      height: 8rem;
      display: inline-block;
      position: relative; }
  .member-box .order-rows ul li {
    width: 24%;
    height: 8rem;
    display: inline-block;
    position: relative; }
    .member-box .order-rows ul li i {
      display: block;
      width: 3rem;
      height: 3rem;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 1.6rem;
      left: 50%;
      margin-left: -1.5rem; }
    .member-box .order-rows ul li span {
      display: block;
      position: absolute;
      top: 4.6rem;
      left: 50%;
      margin-left: -2rem;
      font-size: 1.3rem; }
  .member-box .icon-bar {
    background-image: url("../images/icon-bar.png");
    background-size: 2.5rem 2rem;
    margin-left: -1.2rem; }
  .member-box .icon-cat {
    background-image: url("../images/icon-cat.png");
    background-size: 3rem 2.2rem;
    margin-left: -1.5rem; }
  .member-box .icon-pj {
    background-image: url("../images/icon-pj.png");
    background-size: 2.2rem 2.5rem;
    margin-left: -1.1rem; }
  .member-box .icon-ok2 {
    background-image: url("../images/icon-ok2.png");
    background-size: 2.2rem 2.5rem;
    margin-left: -1.1rem; }

.goods-desc {
  margin-top: .5rem;
  background-color: #fff;
  padding: 1.5rem; }
  .goods-desc .title {
    font-size: 1.6rem; }
  .goods-desc .price-con {
    color: #ef425a;
    font-size: 1.3rem;
    line-height: 1;
    margin-top: 1rem; }
    .goods-desc .price-con .font-big {
      font-size: 3rem; }
    .goods-desc .price-con s {
      opacity: .8; }
    .goods-desc .price-con .floatr {
      margin-top: 1.5rem; }
  .goods-desc .shipping-con {
    font-size: 1.2rem;
    color: #a4aec3; }

.sku-confirm-box {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }
  .sku-confirm-box .shadow-model {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  .sku-confirm-box .sku-confirm {
    position: absolute;
    width: 100%;
    background-color: #fff;
    left: 0;
    bottom: 0;
    padding: 1rem; }
    .sku-confirm-box .sku-confirm .goods-detail {
      position: relative;
      padding-left: 9.5rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #ececec; }
      .sku-confirm-box .sku-confirm .goods-detail .img {
        position: absolute;
        border: 1px solid #ececec;
        background-color: #fff;
        width: 9rem;
        height: 9rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        left: 0;
        bottom: 1rem; }
      .sku-confirm-box .sku-confirm .goods-detail .title {
        position: relative;
        font-size: 1.6rem;
        padding-right: 3.6rem;
        height: 3rem;
        overflow: hidden; }
        .sku-confirm-box .sku-confirm .goods-detail .title .close {
          position: absolute;
          width: 1.5rem;
          height: 1.5rem;
          top: 50%;
          right: 0;
          margin-top: -.75rem;
          background: url(../images/icon-close.png) no-repeat center;
          background-size: contain; }
      .sku-confirm-box .sku-confirm .goods-detail .price {
        font-size: 1.6rem;
        line-height: 1.6rem;
        margin-bottom: 0.5rem; }
      .sku-confirm-box .sku-confirm .goods-detail .sku-num {
        font-size: 1.6rem;
        color: #a4aec3;
        line-height: 1.6rem; }
    .sku-confirm-box .sku-confirm .goods-sku {
      margin-top: .5rem; }
      .sku-confirm-box .sku-confirm .goods-sku .title {
        font-size: 1.6rem; }
      .sku-confirm-box .sku-confirm .goods-sku .sku-item {
        padding-left: 2em;
        margin-top: 1rem; }
        .sku-confirm-box .sku-confirm .goods-sku .sku-item a {
          display: inline-block;
          margin-right: 1.5rem;
          line-height: 2.9rem;
          padding: 0 1rem;
          border-radius: .5rem;
          color: #ececec;
          border: 1px solid #ececec;
          font-size: 1.4rem; }
          .sku-confirm-box .sku-confirm .goods-sku .sku-item a.active {
            background-color: #31a9ff;
            color: #fff;
            border-color: #31a9ff; }
    .sku-confirm-box .sku-confirm .num-controller {
      margin-top: 1rem;
      font-size: 1.6rem; }
      .sku-confirm-box .sku-confirm .num-controller a, .sku-confirm-box .sku-confirm .num-controller input {
        display: inline-block;
        background-color: #e6e8ed;
        font-size: 1.6rem;
        text-align: center;
        line-height: 3rem;
        margin-right: .1rem;
        width: 3.3rem;
        vertical-align: middle; }
        .sku-confirm-box .sku-confirm .num-controller a.lock, .sku-confirm-box .sku-confirm .num-controller input.lock {
          opacity: .7; }
      .sku-confirm-box .sku-confirm .num-controller a {
        font-size: 2.5rem; }
      .sku-confirm-box .sku-confirm .num-controller .dec {
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem; }
      .sku-confirm-box .sku-confirm .num-controller .inc {
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem; }
    .sku-confirm-box .sku-confirm .bottom-btn, .sku-confirm-box .sku-confirm .fixed-bottom-btn {
      margin-top: 2rem;
      margin-left: -1rem;
      margin-right: -1rem;
      margin-bottom: -1rem; }

.area-col {
  height: 20rem;
  padding: 1.5rem;
  color: #fff; }
  .area-col textarea {
    width: 100%;
    height: 20rem;
    padding: 1.5rem;
    font-size: 1.5rem; }

.btn-col {
  margin-top: 5rem;
  height: 4rem;
  line-height: 4rem;
  padding: 0 1.5rem;
  color: #fff; }
  .btn-col .a-btn {
    width: 100%;
    display: inline-block;
    background: #31a9ff;
    border-radius: 4rem;
    text-align: center; }

.comment-panel {
  margin-top: 1rem;
  background-color: #fff;
  padding: 1rem;
  font-size: 1.4rem; }
  .comment-panel .title-con {
    border-bottom: 1px solid #ececec; }
  .comment-panel .module-title {
    margin-left: -1rem; }

.relation-goods a {
  position: relative;
  display: block;
  width: 33.33%;
  float: left;
  padding: 0 .33rem;
  margin-bottom: 1rem; }
  .relation-goods a .goods-tail {
    background-color: #fff;
    padding: 1rem; }
    .relation-goods a .goods-tail .img {
      display: block;
      width: 100%; }
    .relation-goods a .goods-tail .title {
      font-size: 1.4rem; }
    .relation-goods a .goods-tail .tips {
      font-size: 1.1rem;
      color: #a4aec3; }
    .relation-goods a .goods-tail .price-con {
      font-size: 1.4rem;
      color: #ef425a; }
      .relation-goods a .goods-tail .price-con s {
        margin-left: 1rem;
        color: #a4aec3; }
  .relation-goods a:nth-child(3n + 1) {
    padding-right: .33rem;
    padding-left: 0; }
  .relation-goods a:nth-child(3n + 3) {
    padding-left: .33rem;
    padding-right: 0; }

.shipping-box {
  padding: 1rem;
  background-color: #fff; }
  .shipping-box .select-panel {
    border-bottom: 1px solid #ececec;
    padding-bottom: .5rem; }
    .shipping-box .select-panel .label-type {
      display: inline-block;
      margin-right: 2rem; }
      .shipping-box .select-panel .label-type:last-child {
        margin-right: 0; }
  .shipping-box .c-a {
    position: relative;
    padding: 0 2.8rem;
    background: url(../images/icon-gprs.png) no-repeat left center;
    background-size: 2rem;
    margin-top: 1rem; }
    .shipping-box .c-a:before {
      content: '';
      position: absolute;
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      background: url(../images/icon-right.png) no-repeat right center;
      background-size: contain;
      top: 50%;
      margin-top: -.75rem;
      right: 0; }

.c-goods-panel {
  margin-top: 1rem;
  border-bottom: 1rem solid #fff; }
  .c-goods-panel h2 {
    position: relative;
    line-height: 4rem;
    padding-left: 3.5rem;
    background-color: #fff;
    color: #a4aec3;
    font-size: 1.4rem; }
    .c-goods-panel h2:before {
      content: '';
      display: block;
      position: absolute;
      width: 1.7rem;
      height: 1.7rem;
      background-color: #31a9ff;
      top: 50%;
      margin-top: -.85rem;
      left: 1rem; }
  .c-goods-panel .c-goods {
    display: table;
    width: 100%;
    padding: 1rem; }
    .c-goods-panel .c-goods .img {
      display: table-cell;
      width: 7.5rem;
      height: 10rem;
      background-color: #fff;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
    .c-goods-panel .c-goods .c-tail {
      position: relative;
      display: table-cell;
      padding-left: 1rem; }
      .c-goods-panel .c-goods .c-tail .num-controller {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 1.6rem; }
        .c-goods-panel .c-goods .c-tail .num-controller a, .c-goods-panel .c-goods .c-tail .num-controller input {
          display: inline-block;
          background-color: #fff;
          font-size: 1.6rem;
          text-align: center;
          line-height: 3rem;
          margin-right: .1rem;
          width: 3.3rem;
          vertical-align: middle; }
          .c-goods-panel .c-goods .c-tail .num-controller a.lock, .c-goods-panel .c-goods .c-tail .num-controller input.lock {
            opacity: .7; }
        .c-goods-panel .c-goods .c-tail .num-controller a {
          font-size: 2.5rem; }
        .c-goods-panel .c-goods .c-tail .num-controller .dec {
          border-top-left-radius: .5rem;
          border-bottom-left-radius: .5rem; }
        .c-goods-panel .c-goods .c-tail .num-controller .inc {
          border-top-right-radius: .5rem;
          border-bottom-right-radius: .5rem; }

.c-total {
  margin-top: 1rem;
  background-color: #fff;
  padding: 1rem; }
  .c-total p {
    padding: 1rem 0; }
  .c-total textarea {
    border: none;
    outline: none;
    width: 100%;
    height: 5rem;
    font-size: 1.3rem;
    margin-top: .5rem; }

.border-bottom {
  border-bottom: 1px solid #ececec; }

.fix-bottom {
  position: fixed;
  display: table;
  width: 100%;
  height: 4.9rem;
  line-height: 4.9rem;
  left: 0;
  bottom: 0;
  background-color: #fff; }
  .fix-bottom .c-t {
    display: table-cell;
    text-align: center; }
    .fix-bottom .c-t .font-red {
      font-size: 1.6rem; }
  .fix-bottom .c-order-btn {
    display: table-cell;
    width: 15rem;
    text-align: center;
    color: #fff; }

.addr-box .tishi_bg {
  margin-top: 19.65rem; }
  .addr-box .tishi_bg div {
    width: 13.85rem;
    height: 9.75;
    margin: 0 auto; }
    .addr-box .tishi_bg div img {
      display: block;
      width: 100%;
      height: 100%; }
  .addr-box .tishi_bg p {
    text-align: center;
    font-size: 1.5rem;
    color: #a4aec3;
    margin-top: 2.1rem; }

.addr-box ul li {
  position: relative;
  display: block;
  margin-bottom: 1rem; }
  .addr-box ul li div {
    margin: 0;
    padding: 1rem 1.2rem;
    overflow: hidden;
    background: #fff;
    position: relative; }
    .addr-box ul li div p {
      position: relative; }
      .addr-box ul li div p span {
        font-size: 1.5rem; }
      .addr-box ul li div p .def_set {
        display: inline-block;
        width: 3.75rem;
        height: 1.5rem;
        line-height: 1.5rem;
        background: #20b7f4;
        border-radius: 1.5rem;
        font-size: 1rem;
        color: #fff;
        text-align: center;
        margin-left: 1rem;
        position: relative;
        top: -0.2rem; }
      .addr-box ul li div p .my-def_set {
        font-size: 1.4rem;
        color: #a4aec3; }
    .addr-box ul li div .addr-info {
      padding-left: 2.5rem; }

.addr-name {
  margin-right: 1.5rem; }

.addr-info {
  font-size: 1.5rem;
  border-bottom: 1px solid #ececec;
  padding-bottom: 1rem; }

.my-addr-info {
  font-size: 1.5rem;
  border-bottom: 1px solid #ececec;
  padding-bottom: 1rem; }

.def{
  color:white;
  float:right;
  text-align:center;
  width:50px; 
  background-color:#31a9ff; 
  border-radius:20px; 
  display:block; }

.addr-grp {
  padding: 1rem 0; }
  .addr-grp label {
    display: inline-block;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    top: -.1rem;
    margin-right: 0.8rem; }

.my-addr-grp {
  padding: 1rem 0; }
  .my-addr-grp label {
    display: inline-block;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    top: -.1rem;
    margin-right: 0.8rem; }

.addr-btn {
  float: left;
  font-size: 1.4rem;
  margin-left: 2.5rem;
  color: #a4aec3; }
  .addr-btn .edit {
    background: url(../images/adrr_edit.png) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    width: 1.25rem;
    height: 1.4rem;
    margin-right: 0.5rem; }
  .addr-btn .del {
    background: url(../images/adrr_deliete.png) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: 3rem;
    width: 1.15rem;
    height: 1.4rem; }

.my-addr-btn {
  float: left !important;
  font-size: 1.4rem;
  margin-left: 2.5rem;
  color: #a4aec3; }
  .my-addr-btn .edit {
    background: url(../images/adrr_edit.png) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    width: 1.25rem;
    height: 1.4rem;
    margin-right: 0.5rem; }
  .my-addr-btn .del {
    background: url(../images/adrr_deliete.png) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: 3rem;
    width: 1.15rem;
    height: 1.4rem; }

.addr-del {
  margin-left: 0.5rem; }

.address-oper {
  background-color: #fff;
  padding: 0 1rem;
  font-size: 1.6rem; }
  .address-oper .tail {
    display: table;
    width: 100%;
    position: relative;
    padding: 1.5rem .5rem;
    border-bottom: 1px solid #ececec; }
    .address-oper .tail:last-child {
      border-bottom: none; }
    .address-oper .tail .title {
      display: table-cell;
      width: 5em;
      position: relative; }
    .address-oper .tail input[type=text], .address-oper .tail input[type=tel], .address-oper .tail .address, .address-oper .tail textarea {
      display: table-cell;
      width: 100%;
      background: url(../images/icon-right.png) no-repeat right center;
      background-size: .8rem 1.5rem;
      color: #a4aec3;
      padding-right: 1.5rem;
      font-size: 1.4rem; }
    .address-oper .tail input[type=text], .address-oper .tail input[type=tel], .address-oper .tail .address {
      text-align: right; }
    .address-oper .tail input[type=text]:focus, .address-oper .tail input[type=tel]:focus {
      padding-right: 0;
      background: none; }
    .address-oper .tail textarea {
      padding-right: 0;
      height: 5em;
      background: none; }
    .address-oper .tail .lxb-checkbox {
      margin-right: 1rem; }
    .address-oper .tail label {
      color: #a4aec3;
      font-size: 1.4rem; }

.address-oper-box .lxb-btn {
  margin: 3rem 1rem 0; }

.comment-panel {
  margin-top: 1rem;
  background-color: #fff;
  padding: 1rem;
  font-size: 1.4rem; }
  .comment-panel .title-con {
    border-bottom: 1px solid #ececec; }
  .comment-panel .module-title {
    margin-left: -1rem; }
  .comment-panel .module-cont {
    padding-bottom: 3rem;
    padding-top: 2.15rem; }
    .comment-panel .module-cont .module-main {
      margin-bottom: 2.5rem;
      position: relative;
      padding-left: 5.8rem; }
      .comment-panel .module-cont .module-main .u-img {
        position: absolute;
        left: 1rem;
        top: 0.8rem;
        width: 3rem;
        height: 3rem; }
        .comment-panel .module-cont .module-main .u-img img {
          display: block;
          width: 100%;
          height: 100%; }
      .comment-panel .module-cont .module-main .module-utit div {
        display: inline-block;
        font-size: 1.2rem;
        line-height: 1.3rem;
        color: #a4aec3; }
        .comment-panel .module-cont .module-main .module-utit div span {
          display: inline-block;
          width: 1.075rem;
          height: 1.1rem;
          background: url(../images/icon-star.png) no-repeat;
          background-size: 100% 100%; }
      .comment-panel .module-cont .module-main .module-utit .module-ptime {
        font-size: 1.1rem;
        color: #a4aec3; }
      .comment-panel .module-cont .module-main p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: #414d58; }
      .comment-panel .module-cont .module-main .pj-imgs {
        margin-top: 1rem; }
        .comment-panel .module-cont .module-main .pj-imgs div {
          float: left;
          width: 9.4rem;
          height: 9.4rem;
          margin-right: 0.5rem; }
          .comment-panel .module-cont .module-main .pj-imgs div img {
            display: block;
            width: 100%;
            height: 100%; }
    .comment-panel .module-cont .pj-more {
      margin: 0 auto;
      border: 1px #31a9ff solid;
      color: #31a9ff;
      width: 11rem;
      height: 3rem;
      line-height: 3rem;
      border-radius: 3rem;
      text-align: center; }

.comment-detail {
  margin-top: 3.5rem;
  background: #f3f5f9;
  font-size: 1.4rem;
  padding-bottom: 6rem; }
  .comment-detail .comment-item {
    padding: 0 1rem;
    background: #fff;
    margin-bottom: 1rem; }
    .comment-detail .comment-item li {
      float: left;
      padding: 1rem 0;
      width: 25%;
      color: #3e4e59; }
      .comment-detail .comment-item li .item-tit {
        font-size: 1.3rem;
        text-align: center; }
      .comment-detail .comment-item li .item-pice {
        font-size: 1.1rem;
        text-align: center; }
    .comment-detail .comment-item .items-act {
      color: #ed5f86; }
  .comment-detail .module-cont {
    background: #fff;
    padding-bottom: 1rem;
    padding-top: 2.15rem; }
    .comment-detail .module-cont .module-main {
      margin-bottom: 2.5rem;
      position: relative;
      padding-left: 5.8rem; }
      .comment-detail .module-cont .module-main .u-img {
        position: absolute;
        left: 1rem;
        top: 0.8rem;
        width: 3rem;
        height: 3rem; }
        .comment-detail .module-cont .module-main .u-img img {
          display: block;
          width: 100%;
          height: 100%; }
      .comment-detail .module-cont .module-main .module-utit div {
        display: inline-block;
        font-size: 1.2rem;
        line-height: 1.3rem;
        color: #a4aec3; }
        .comment-detail .module-cont .module-main .module-utit div span {
          display: inline-block;
          width: 1.075rem;
          height: 1.1rem;
          background: url(../images/icon-star.png) no-repeat;
          background-size: 100% 100%; }
      .comment-detail .module-cont .module-main .module-utit .module-ptime {
        font-size: 1.1rem;
        color: #a4aec3; }
      .comment-detail .module-cont .module-main p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: #414d58; }
      .comment-detail .module-cont .module-main .pj-imgs {
        margin-top: 1rem; }
        .comment-detail .module-cont .module-main .pj-imgs div {
          float: left;
          width: 9.4rem;
          height: 9.4rem;
          margin-right: 0.5rem; }
          .comment-detail .module-cont .module-main .pj-imgs div img {
            display: block;
            width: 100%;
            height: 100%; }

.relation-goods a {
  position: relative;
  display: block;
  width: 33.33%;
  float: left;
  padding: 0 .33rem;
  margin-bottom: 1rem; }
  .relation-goods a .goods-tail {
    background-color: #fff;
    padding: 1rem; }
    .relation-goods a .goods-tail .img {
      display: block;
      width: 5.8rem;
      height: 10.7rem;
      margin: 0 auto; }
    .relation-goods a .goods-tail .title {
      font-size: 1.4rem; }
    .relation-goods a .goods-tail .tips {
      font-size: 1.1rem;
      color: #a4aec3; }
    .relation-goods a .goods-tail .price-con {
      font-size: 1.4rem;
      color: #ef425a; }
      .relation-goods a .goods-tail .price-con s {
        margin-left: 1rem;
        color: #a4aec3; }
  .relation-goods a:nth-child(3n + 1) {
    padding-right: .33rem;
    padding-left: 0; }
  .relation-goods a:nth-child(3n + 3) {
    padding-left: .33rem;
    padding-right: 0; }

.shipping-box {
  padding: 1rem;
  background-color: #fff; }
  .shipping-box .select-panel {
    border-bottom: 1px solid #ececec;
    padding: 0.2rem 0 1.2rem 2.7rem; }
    .shipping-box .select-panel .label-type {
      display: inline-block;
      margin-right: 2rem; }
      .shipping-box .select-panel .label-type:last-child {
        margin-right: 0; }
  .shipping-box .c-a {
    position: relative;
    padding: 0 2.8rem;
    background: url(../images/icon-gprs.png) no-repeat 0 2.8rem;
    background-size: 2rem;
    margin-top: 1rem; }
    .shipping-box .c-a:before {
      content: '';
      position: absolute;
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      background: url(../images/icon-right.png) no-repeat right center;
      background-size: contain;
      top: 50%;
      margin-top: -.75rem;
      right: 0; }

.custom_bg {
  background-color: #31a9ff;
  background: -webkit-linear-gradient(left, #31a9ff, #2bd0ff);
  background: -o-linear-gradient(right, #31a9ff, #2bd0ff);
  background: -moz-linear-gradient(right, #31a9ff, #2bd0ff);
  background: linear-gradient(to right, #31a9ff, #2bd0ff); }
  .custom_bg .header-panel {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    font-size: 1.8rem;
    text-align: center;
    color: #fff;
    height: 4.5rem;
    line-height: 4.5rem;
    z-index: 9; }
    .custom_bg .header-panel .go-back {
      position: absolute;
      width: 1rem;
      height: 1.65rem;
      background: url(../images/icon-back.png) no-repeat left center;
      background-size: contain;
      left: 1.5rem;
      top: 50%; }
    .custom_bg .header-panel .buy {
      position: absolute;
      font-size: 1.5rem;
      right: 1.5rem;
      top: 0; }
  .custom_bg .custom_box {
    padding-top: 4.5rem;
    width: 100%; }
    .custom_bg .custom_box .custom_cont {
      width: 95%;
      background: #fff;
      margin: 0 auto;
      height: 62.2rem; }
      .custom_bg .custom_box .custom_cont .goods_cont {
        position: relative;
        padding-top: 6.65rem; }
        .custom_bg .custom_box .custom_cont .goods_cont .color_box {
          position: absolute;
          border-top: 1px #a4aec3 solid;
          border-left: 1px #a4aec3 solid;
          border-right: 1px #a4aec3 solid;
          top: 1.5rem;
          left: 1rem; }
          .custom_bg .custom_box .custom_cont .goods_cont .color_box li {
            width: 3rem;
            height: 3rem;
            line-height: 3rem;
            border-bottom: 1px #a4aec3 solid;
            font-size: 1.1rem;
            color: #414d58;
            text-align: center; }
          .custom_bg .custom_box .custom_cont .goods_cont .color_box .color_act {
            background: #31a9ff;
            color: #fff;
            border-color: #31a9ff; }
        .custom_bg .custom_box .custom_cont .goods_cont .goods_price {
          font-size: 1.5rem;
          color: #414d58;
          position: absolute;
          top: 2.5rem;
          left: 13.45rem; }
        .custom_bg .custom_box .custom_cont .goods_cont .delete_bt {
          background: url(../images/delete.png) no-repeat 0.8rem 0.8rem;
          background-size: 50% 50%;
          position: absolute;
          top: 1.5rem;
          right: 2.05rem;
          border: 1px #d8dade solid;
          border-radius: 50%;
          width: 3.8rem;
          height: 3.8rem; }
        .custom_bg .custom_box .custom_cont .goods_cont .eye_bt {
          background: url(../images/eyes.png) no-repeat 0.9rem 1.1rem;
          background-size: 50% 37%;
          position: absolute;
          top: 6.8rem;
          right: 2.05rem;
          border: 1px #d8dade solid;
          border-radius: 50%;
          width: 3.8rem;
          height: 3.8rem; }
        .custom_bg .custom_box .custom_cont .goods_cont .goods_img img {
          display: block;
          width: 18.9rem;
          height: 36.4rem;
          margin: 0 auto; }
        .custom_bg .custom_box .custom_cont .goods_cont .play_photo {
          margin-top: 7.7rem;
          padding: 0 0.5rem; }
          .custom_bg .custom_box .custom_cont .goods_cont .play_photo .photo_main div {
            box-sizing: border-box;
            width: 5rem;
            height: 7rem;
            float: left;
            margin-left: 0.5rem;
            background: #f3f5f9;
            position: relative;
            padding: 3.9rem 1.3rem 0; }
            .custom_bg .custom_box .custom_cont .goods_cont .play_photo .photo_main div img {
              position: absolute;
              top: 1.3rem;
              left: 1.2rem;
              width: 2.55rem;
              height: 2.55rem; }
            .custom_bg .custom_box .custom_cont .goods_cont .play_photo .photo_main div span {
              color: #414d58;
              font-size: 1.1rem; }
          .custom_bg .custom_box .custom_cont .goods_cont .play_photo .photo_items_type .photo_items div {
            box-sizing: border-box;
            width: 5rem;
            height: 7rem;
            float: left;
            margin-left: 0.5rem;
            background: #f3f5f9;
            position: relative;
            padding: 3.9rem 1.3rem 0; }
          .custom_bg .custom_box .custom_cont .goods_cont .play_photo .photo_items_type .photo_items .potos-mor img {
            position: absolute;
            top: 1.3rem;
            left: 1.2rem;
            width: 2.55rem;
            height: 2.55rem; }
          .custom_bg .custom_box .custom_cont .goods_cont .play_photo .photo_items_type .photo_items .potos-mor span {
            color: #414d58;
            font-size: 1.1rem; }
          .custom_bg .custom_box .custom_cont .goods_cont .play_photo .photo_items_type .photo_items .empty img {
            position: absolute;
            top: 1.3rem;
            left: 1.2rem;
            width: 2.55rem;
            height: 2.55rem; }
          .custom_bg .custom_box .custom_cont .goods_cont .play_photo .photo_items_type .photo_items .empty span {
            color: #414d58;
            font-size: 1.1rem; }
          .custom_bg .custom_box .custom_cont .goods_cont .play_photo .photo_items_type .photo_items ul {
            float: left; }
            .custom_bg .custom_box .custom_cont .goods_cont .play_photo .photo_items_type .photo_items ul li {
              width: 5rem;
              height: 7rem;
              float: left;
              margin-left: 0.5rem; }
              .custom_bg .custom_box .custom_cont .goods_cont .play_photo .photo_items_type .photo_items ul li img {
                display: block;
                width: 100%;
                height: 100%; }
          .custom_bg .custom_box .custom_cont .goods_cont .play_photo .photo_items_type .p-back {
            background: url(../images/p-back.png) no-repeat 0.8rem 0.8rem;
            background-size: 50% 50%;
            position: absolute;
            bottom: -5.7rem;
            right: 2rem;
            border: 1px #d8dade solid;
            border-radius: 50%;
            width: 3.8rem;
            height: 3.8rem; }
        .custom_bg .custom_box .custom_cont .goods_cont .play_materials {
          margin-top: 9.7rem;
          padding: 0 0.5rem; }
          .custom_bg .custom_box .custom_cont .goods_cont .play_materials .materials_main .material_type {
            position: relative;
            float: left;
            font-size: 1.3rem;
            color: #fff;
            margin-right: 0.5rem;
            width: 5rem;
            height: 5rem;
            line-height: 5rem;
            text-align: center; }
            .custom_bg .custom_box .custom_cont .goods_cont .play_materials .materials_main .material_type img {
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0; }
            .custom_bg .custom_box .custom_cont .goods_cont .play_materials .materials_main .material_type span {
              border: 1px red;
              display: block;
              width: 100%;
              height: 100%;
              text-align: center;
              position: absolute;
              top: 0;
              left: 0; }
          .custom_bg .custom_box .custom_cont .goods_cont .play_materials .type-cont {
            position: relative; }
            .custom_bg .custom_box .custom_cont .goods_cont .play_materials .type-cont div div {
              position: relative;
              float: left;
              font-size: 1.3rem;
              color: #fff;
              margin-right: 0.5rem;
              width: 5rem;
              height: 5rem;
              line-height: 5rem;
              text-align: center; }
              .custom_bg .custom_box .custom_cont .goods_cont .play_materials .type-cont div div img {
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0; }
              .custom_bg .custom_box .custom_cont .goods_cont .play_materials .type-cont div div span {
                border: 1px red;
                display: block;
                width: 100%;
                height: 100%;
                text-align: center;
                position: absolute;
                top: 0;
                left: 0; }
            .custom_bg .custom_box .custom_cont .goods_cont .play_materials .type-cont .mt-back {
              background: url(../images/p-back.png) no-repeat 0.8rem 0.8rem;
              background-size: 50% 50%;
              position: absolute;
              bottom: 4rem;
              right: 2rem;
              border: 1px #d8dade solid;
              border-radius: 50%;
              width: 3.8rem;
              height: 3.8rem; }
        .custom_bg .custom_box .custom_cont .goods_cont .play_parts {
          margin-top: 9.7rem;
          padding: 0 0.5rem; }
          .custom_bg .custom_box .custom_cont .goods_cont .play_parts div {
            float: left;
            margin-right: 0.5rem;
            font-size: 1.3rem;
            color: #414d58;
            border: 1px #414d58 solid;
            border-radius: 0.5rem;
            padding: 1.25rem 0.7rem; }
          .custom_bg .custom_box .custom_cont .goods_cont .play_parts .act_parts {
            background: #31a9ff;
            color: #fff;
            border: 1px #31a9ff solid; }
  .custom_bg .footer_bt {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 4rem;
    background-color: transparent;
    z-index: 9; }
    .custom_bg .footer_bt .bt_box {
      background: #f3f5f9;
      padding: 0 3.15rem;
      width: 95%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between; }
      .custom_bg .footer_bt .bt_box div {
        border-bottom: 3px #f3f5f9 solid;
        height: 4rem;
        line-height: 4rem;
        text-align: center;
        float: left;
        width: 5.5rem;
        font-size: 1.5rem;
        color: #414d58; }
      .custom_bg .footer_bt .bt_box .act_bt {
        border-color: #31a9ff;
        color: #31a9ff; }

.c-goods-panel {
  margin-top: 1rem;
  border-bottom: 1rem solid #fff; }
  .c-goods-panel h2 {
    position: relative;
    line-height: 4rem;
    padding-left: 3.5rem;
    background-color: #fff;
    color: #a4aec3;
    font-size: 1.4rem; }
    .c-goods-panel h2:before {
      content: '';
      display: block;
      position: absolute;
      width: 1.7rem;
      height: 1.7rem;
      background-color: #31a9ff;
      top: 50%;
      margin-top: -.85rem;
      left: 1rem; }
  .c-goods-panel .c-goods {
    display: table;
    width: 100%;
    padding: 1rem; }
    .c-goods-panel .c-goods .img {
      display: table-cell;
      width: 7.5rem;
      height: 10rem;
      background-color: #fff;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
    .c-goods-panel .c-goods .c-tail {
      position: relative;
      display: table-cell;
      padding-left: 1rem; }
      .c-goods-panel .c-goods .c-tail .num-controller {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 1.6rem; }
        .c-goods-panel .c-goods .c-tail .num-controller a, .c-goods-panel .c-goods .c-tail .num-controller input {
          display: inline-block;
          background-color: #fff;
          font-size: 1.6rem;
          text-align: center;
          line-height: 3rem;
          margin-right: .1rem;
          width: 3.3rem;
          vertical-align: middle; }
          .c-goods-panel .c-goods .c-tail .num-controller a.lock, .c-goods-panel .c-goods .c-tail .num-controller input.lock {
            opacity: .7; }
        .c-goods-panel .c-goods .c-tail .num-controller a {
          font-size: 2.5rem; }
        .c-goods-panel .c-goods .c-tail .num-controller .dec {
          border-top-left-radius: .5rem;
          border-bottom-left-radius: .5rem; }
        .c-goods-panel .c-goods .c-tail .num-controller .inc {
          border-top-right-radius: .5rem;
          border-bottom-right-radius: .5rem; }

.c-total {
  margin-top: 1rem;
  background-color: #fff;
  padding: 0 1rem 1rem; }
  .c-total p {
    padding: 1.3rem 0; }
  .c-total textarea {
    border: none;
    outline: none;
    width: 100%;
    height: 5rem;
    font-size: 1.3rem;
    margin-top: .5rem; }

.border-bottom {
  border-bottom: 1px solid #ececec;
  height:65px; }

.fix-bottom {
  position: fixed;
  display: table;
  width: 100%;
  height: 4.9rem;
  line-height: 4.9rem;
  left: 0;
  bottom: 0;
  background-color: #fff; }
  .fix-bottom .c-t {
    display: table-cell;
    text-align: center;
    border-top: 1px solid #ececec; }
    .fix-bottom .c-t .font-red {
      font-size: 1.6rem; }
  .fix-bottom .c-order-btn {
    display: table-cell;
    width: 15rem;
    text-align: center;
    color: #fff; }

/*# sourceMappingURL=global.css.map */
