<tr data-id="{$vo.slide_id}" data-order="{$vo.order}">
    <td class="am-text-middle"><input type="checkbox" class="check-tail"></td>
    <td class="am-text-middle">
        <img src="{$vo.img}" style="width: 80px;height: 80px;"/>
    </td>
    <td class="am-text-middle">{$vo.title}</td>
    <td class="am-text-middle">{:formatTime($vo['create_time'])}</td>
    <td class="am-text-middle">{$vo.link}</td>
    <td class="am-text-middle"><if condition="$vo['is_on'] eq 1">启用<else/>禁用</if></td>
    <td class="am-text-middle">
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <a class="am-btn am-btn-default am-btn-xs" href="{:U('info', ['slide_id' => $vo['slide_id']])}">编辑</a>
            </div>
            <div class="am-btn-group am-btn-group-xs">
                <a class="am-btn am-btn-default am-btn-xs btn-move" data-move="up" href="javascript:">上移</a>
            </div>
            <div class="am-btn-group am-btn-group-xs">
                <a class="am-btn am-btn-default am-btn-xs btn-move" data-move="down" href="javascript:">下移</a>
            </div>
        </div>
    </td>
</tr>