<extend name="Public:base" />
<block name="main">
    <div class="header-panel">
        <a href="javascript:goback()" class="go-back"></a>
        确认下单
    </div>
    <div class="fix-bottom">
        <div class="c-t">
            合计：<span class="c-total-fee font-red"></span>
        </div>
        <!--<a class="c-order-btn" href="{:U('Order/paytype')}">确认订单</a>-->
        <a class="c-order-btn" href="#">提交订单</a>
    </div>
    <div class="page-panel padding-header padding-footer">
        <div class="shipping-box">
            <div class="select-panel">
                <span class="font-gray">配送方式：</span>
                <if condition="$address['is_default'] eq 0">
                <div class="label-type">
                    <label class="lxb-checkbox">
                      <input type="radio" name="shipping_type" value="1" id="shipping-type-1" <if condition="$_GET['shipping_type']!=2">checked</if>><i></i>
                    </label>
                    <label for="shipping-type-1">送货</label>
                </div>
                <div class="label-type">
                    <label class="lxb-checkbox">
                        <input type="radio" name="shipping_type" value="2" id="shipping-type-2"><i></i>
                    </label>
                    <label for="shipping-type-2">自提</label>
                </div>
                <else/>
                <div class="label-type">
                    <label class="lxb-checkbox">
                      <input type="radio" name="shipping_type" value="1" id="shipping-type-1" <if condition="$_GET['shipping_type']!=2">checked</if>><i></i>
                    </label>
                    <label for="shipping-type-1">送货</label>
                </div>
                <div class="label-type">
                    <label class="lxb-checkbox">
                        <input type="radio" name="shipping_type" value="2" id="shipping-type-2" <if condition="$_GET['shipping_type'] eq 2">checked</if>><i></i>
                    </label>
                    <label for="shipping-type-2">自提</label>
                </div>
                </if> 
            </div>
            <div class="c-a" id='shipping'>
                <if condition="$address['is_default'] eq 0">
                    <if condition="!$address">
                        <if condition="$_GET['shipping_type']==2">
                            请选择收货地址
                            <else/>
                                <p>
                                   <span class="font-gray">收货人: </span>{$address.consignee}-{$address.phone}
                                </p>
                                <p>
                                    
                                   <span class="font-gray">收货地址: </span>{$address.address.prov}{$address.address.city}{$address.address.region}{$address.address.area}
                                </p>
                        </if>
                    <else/>
                        <p>
                            <span class="font-gray">
                                <if condition="$_GET['shipping_type']==1">
                                    店铺名称 
                                <else/> 
                                    收货人 
                                </if>：
                            </span>{$address.consignee}-{$address.phone}
                        </p>
                        <p>
                            <span class="font-gray">
                                <if condition="$_GET['shipping_type']==1">
                                    自提地址 
                                <else/> 
                                    收货地址 
                                </if>：<br>
                            </span>{$address.address.prov}{$address.address.city}{$address.address.region}{$address.address.area}
                        </p>
                    </if>
                </if>
            </div>
          <div class="c-a" id='pick' style="display: none;">
            <if condition="!$_GET['address_id']">
              选择自提地点
              <else/>
              <p><span class="font-gray">店铺名称：</span>{$address.consignee}</p>
                    <p><span class="font-gray">自提地址：<br></span>{$address.address.area}</p>
               </if>
          </div>
        </div>
        <div class="c-goods-panel">
            <h2>罗马仕</h2>
            <div class="c-goods">
                <div class="img" style="background-image: url({$sku.img})"></div>
                <div class="c-tail">
                    <div class="title">{$goods.goods_name}</div>
                    <div class="items font-gray">{$sku.sku_name}</div>
                    <div class="font-red">￥{$goods.price}</div>
                    <div class="num-controller">
                        <a class="dec" href="javascript:">-</a><input type="tel" value="{$num}" class="num"><a class="inc" href="javascript:">+</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-total">
            <p class="border-bottom">共1件商品<span class="floatr color-gray total-price"></span></p>
            <p class="border-bottom" id="kdf" style="display: block;">快递费<span class="floatr color-gray shipping-fee"></span></p>
            <div class="c-remark">
                <p>买家留言</p>
                <textarea class="r-input" id='mmark'></textarea>
            </div>
        </div>
    </div>
</block>
<block name="js-con">
    <script>
        var _address_id = {$address_id};
                var _maxInput = {$sku.sku_num};
                var _shipping_fee = {$goods.shipping_fee};
                var _append_fee = {$goods.append_fee};
                var _goods_price = {$goods.price};
                var _num = {$num};
                var _sku = {$sku.sku};
                var diyid = {$diyid};
        var $inc = $('.num-controller .inc');
        var $dec = $('.num-controller .dec');
        var $num = $('.num-controller .num');
        var $totalFee = $('.c-total-fee');
        var $shippingFee = $('.shipping-fee');
        var $goodsFee = $('.total-price');
        var $btn = $('.c-order-btn');
        var $address = $('.shipping-box .c-a');
        $inc.click(function () {
            if ($(this).hasClass('lock')) {
                return false;
            }
            $num.val(parseInt($num.val()) + 1);
            checkNum();
        });
        $('#shipping-type-1').click(function () {
          $("#pick").attr('style',"display:none");
           $("#shipping").attr('style',"display:block");
           $("#kdf").attr('style',"display:block");
            var goods_fee = _goods_price * _num;
            var shipping_fee = _shipping_fee + (_append_fee * (_num - 1));
            var total_fee = goods_fee + shipping_fee;
            $goodsFee.text('￥' + goods_fee);
            $shippingFee.text('￥' + shipping_fee);
            $totalFee.text('￥' + total_fee);
        });
        $('#shipping-type-2').click(function () {
          $("#shipping").attr('style',"display:none");
           $("#pick").attr('style',"display:block");
            $("#kdf").attr('style',"display:none");
           var goods_fee = _goods_price * _num;
            var shipping_fee = _shipping_fee + (_append_fee * (_num - 1));
            var total_fee = goods_fee + shipping_fee;
            var total_fee = goods_fee;
            $goodsFee.text('￥' + goods_fee);
            $totalFee.text('￥' + total_fee);
        });
        $dec.click(function () {
            if ($(this).hasClass('lock')) {
                return false;
            }
            $num.val(parseInt($num.val()) - 1);
            checkNum();
        });
        $num.change(checkNum);
        function checkNum() {
            var num = parseInt($num.val());
            num = num || 1;
            num = Math.min(_maxInput, num);
            num = Math.max(1, num);
            $num.val(num);
            _num = num;
            if (_maxInput == 1) {
                $dec.addClass('lock');
                $inc.addClass('lock');
            } else {
                if (num <= 1) {
                    $dec.addClass('lock');
                } else {
                    $dec.removeClass('lock');
                }
                if (num >= _maxInput) {
                    $inc.addClass('lock');
                } else {
                    $inc.removeClass('lock');
                }
            }
            checkFee();
        }
        function checkFee() {
            var goods_fee = _goods_price * _num;
            var shipping_fee = _shipping_fee + (_append_fee * (_num - 1));
            var total_fee = goods_fee + shipping_fee;
            $goodsFee.text('￥' + goods_fee);
            $shippingFee.text('￥' + shipping_fee);
            $totalFee.text('￥' + total_fee);
        }
        
        checkFee();
        $btn.click(function () {
            var radio = document.getElementsByName("shipping_type");  
    for (i=0; i<radio.length; i++) {  
        if (radio[i].checked) {  
            var shipping_type=radio[i].value;  
        }
      }
            $.post("{:U('Order/createBuySoon')}", {sku: _sku, num: _num, address_id: _address_id,mark:$('#mmark').val(),shipping_fee:_shipping_fee,diyid:diyid,shipping_type:shipping_type}, function (res) {
                if (res.status == 0) {
                    console.log(res);
                    alert('创建订单成功,等待微信商户授权后正式支付！');
                    location.href = "{:U('Order/paytype')}?oid="+res.data;
                }else{
                  layer.msg(res.content);
                }
/*                doAjax(res, function () {
                  if (res.status == 0) {
                    console.log(res);
					alert('创建订单成功,等待微信商户授权后正式支付！');
					location.href = "{:U('Order/paytype')}?oid="+res.data;
                }else{
                  layer.msg('启动支付接口失败...');
                }
					
                    //layer.msg('启动支付接口失败...');
                });*/
            });
        });
        $address.click(function () {
          var radio = document.getElementsByName("shipping_type");  
    for (i=0; i<radio.length; i++) {  
        if (radio[i].checked) {  
            var shipping_type=radio[i].value;  
        }  
    }  
    if(shipping_type==2){
      var redirect = "{:U('buySoon', '', true, true)}?sku=" + _sku + '&num=' + _num+'&shipping_type='+shipping_type;
            location.href = "{:U('PuckupAddr/index','',true,true)}?redirect=" + encodeURIComponent(redirect) + '&address_id=' + _address_id;
    }else{
      var redirect = "{:U('buySoon', '', true, true)}?sku=" + _sku + '&num=' + _num;
            location.href = "{:U('Address/index','',true,true)}?redirect=" + encodeURIComponent(redirect) + '&address_id=' + _address_id;
    }
            
        });
    </script>
</block>
