<extend name="Public:base"/>
<block name="main">
    <div class="header-panel">
        <a href="javascript:goback()" class="go-back"></a>
        服务协议
    </div>
    <div class="agreement-panel padding-header">
        <h1>优选师用户注册协议</h1>
        <p class="font-blue">尊敬的用户，优选师欢迎您注册成为本网站用户。在注册前请您仔细阅读如下服务条款:</p>
        <br>
        <p>
            用户协议（简称本协议），包括隐私政策及未来可能发生的修订内容，是您（终端用户）和上海青橙实业有限公司（简称优选师）
            之间关于优选师网站（www.qingcheng.com，简称本网站）与优选师产品、程序及服务相关事项最终的、完整的且排他的协议，取代、合并
            之前的当事人之间关于上述事项的讨论和协议，并将对您使用本网站与青橙产品、程序及服务的行为产生法律约束力。
        </p>
        <br>
        <p>1.用户使用规则</p>
        <p>1.1账号</p>
        <p>您无需用户账号即可浏览本网站。但某些网站功能、优选师产品、程序和服务需要您注册优选师账号。</p>
    </div>
</block>