<tr data-id="{$vo.id}" data-order="{$vo.order}">
    <td class="am-text-middle"><input type="checkbox" class="check-tail"></td>
    <td class="am-text-middle">
        <img src="{$vo.pic}" style="width: 80px;height: 80px;"/>
    </td>
    <td class="am-text-middle">{$vo.name}</td>
    <td class="am-text-middle">{:formatTime($vo['add_time'])}</td>
    <td class="am-text-middle">{$vo.price}</td>
     <td class="am-text-middle">{$vo.pname}</td>
    <!--<td class="am-text-middle"><if condition="$vo['is_on'] eq 1">启用<else/>禁用</if></td>-->
    <td class="am-text-middle">
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <a class="am-btn am-btn-default am-btn-xs" href="{:U('addmaterial', ['id' => $vo['id']])}">编辑</a>
            </div>
        </div>
    </td>
</tr>