<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title><block name="web_title">罗马仕</block></title>
    <meta name="viewport" content="
    width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">


    <block name="css-con-before"></block>
    <link href="__WX_CSS__/global.css?__T__" rel="stylesheet" />
     <link href="__WX__/webuploade/webuploader.css?__T__" rel="stylesheet" />
    <link href="__WX_CSS__/g.css?__T__" rel="stylesheet" />
    <block name="css-con"></block>
</head>
<body>
<block name="main"></block>
<script src="__COMMON_JS__/jquery.min.js"></script>
<script src="__COMMON_JS__/handlebars.js"></script>
<script src="__COMMON_JS__/base.js?__T__"></script>
<script src="__WX_JS__/common.js?__T__"></script>
<script src="__LAYER__/layer.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
            <script src="__WX__/webuploade/webuploader.js?__T__"></script>
<block name="js-con"></block>
</body>
</html>