<div class="footer">
    <a class="nav-home <if condition='[current] eq home'>current</if>" href="{:U('Index/index')}">首页</a>
    <a class="nav-diy <if condition='[current] eq diy'>current</if>" href="{:U('Customization/index')}">
        <div class="i-1">
            <div class="i-2">
                <div class="i-3">
                    <div class="i-4">
                        <div class="i-5">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        定制
    </a>
    <a class="nav-member <if condition='[current] eq member'>current</if>" href="{:U('Member/index')}">我的</a>
</div>